@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  font-family: "Roboto", sans-serif;
  /* border: rgb(255, 0, 0) solid 5px; */
}
.item {
  width: 95px;
  height: 95px;
  /* border: 2px solid rgb(0, 0, 0); */
  margin: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}
.item:hover{
    width: 95ppx;
    height: 95px;
    margin: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    cursor: pointer;
    color:#2455f4;
}
.box1{
  height: 455px;
  /* background-color: blueviolet;
  border: solid 2px black; */
  font-family: 'Lato', sans-serif;
}
.deals{
  font-size: 13px;
  padding: 23px 20px;
}
.deals h1{
  cursor: pointer;
}
.deals h1:hover{
  color: #d12b2b;
}
.deals-2{
  color: rgb(75, 87, 23);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 2px;
  cursor: pointer;
}
.viewall{
  background-color: #2874f0;
  color: white;
  width: 145px;
  height: 35px;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -70px 1202px;
  cursor: pointer;
}
.viewall:hover{
  background-color: #2874f0;
  color: white;
  width: 145px;
  height: 35px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -70px 1202px;
  cursor: pointer;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  cursor: pointer;
}
.container2 img{
  width: 170px;
  height: 235px;
}
.box-1-items{
  margin: 20px 18px;
}
.box-1-head{
  display: flex;
  justify-content: center;
}
.box-1-head:hover{
  color:#2874f0;
  display: flex;
  justify-content: center;
  font-size: 17px;
}
.box-1-foot{
  display: flex;
  justify-content: center;
  color: rgb(58, 240, 67);
  font-size: 13px;
  font-weight: lighter;
  margin: 7px 0;
}
.box-1-foot:hover{
  display: flex;
  justify-content: center;
  color: rgb(42, 209, 50);
  font-size: 14px;
  font-weight: lighter;
  margin: 7px 0;
}
